{% extends "base.html" %}
{% block title %}Collection{% endblock %}
{% block content %}
<h1 align="center" class="page-title pt-5">Game Collection</h1>
<div align="center">
    <form method="GET" action="/csv-export" >
        <input type="submit" class="mt-4 mb-2" value="Export to CSV">
    </form>
</div>
<table id="my_games_table" class="table table-success table-hover table-striped table-bordered table-sm" align="center">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Platform</th>
            <th>Delete</th>
            <th>Edit</th>
    </thead>
    <tbody class="table-group-divider">
        {% for game in current_user.games|sort(attribute='title') %}
        <tr data-value='{{ game.id }}'>      
        <td><form method="post" action="{{ url_for('views.my_game', title=game.title ) }}" class="inline">
            <input type="hidden" name="id" value='{{ game.id }}'>
            <button type="submit" value="submit_value" class="link-button">
            {{ game.title }}
            </button>
        </form></td>
            <td>{{ game.year }}</td>
            <td>{{ game.platform }}</td>
            <td id="delete">
                <button id="delete-button" onclick="deleteGame('{{ game.id }}', '{{ url_for(request.endpoint, **request.view_args) }}')">
                <i class="bi bi-trash"></i></button>
            </td>
            <td id="edit">
                <form method="post" action="{{ url_for('views.view_edit', title=game.title ) }}" class="inline">
                    <input type="hidden" name="id" value='{{ game.id }}'>
                    <button id="edit-button" type="submit" value="submit_value"><i class="bi bi-pencil"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}