{% extends "base.html" %}
{% block title %}Edit game{% endblock %}
{% block content %}
<h1 align="center" class="py-5">Edit Game</h1>
<form id="edit-game-form" method="POST">
    <input type="hidden" name="id" value='{{ game.id }}' id="id">
    <div class="row">
        <div class="form-group col">
            <label for="title">Title*: </label>
            <input type="text" class="form-control mb-4" name="title" value='{{ game.title }}' id="title" required>
        </div>
    
        <div class="form-group col">
            <label for="year">Release Year*: </label>
            <input type="number" class="form-control mb-4" name="year" value='{{ game.year }}' id="year" min="1000" required>
        </div>

        
        <div class="form-group col">
            <label for="platform">Platform*: </label>
            <input type="text" class="form-control mb-4" name="platform" value='{{ game.platform }}' id="platform" required>
        </div>
    </div>



    <div class="row"row>
        <div class="form-group col">
            <label for="developer">Developer: </label>
            <input type="text" class="form-control mb-4" value='{{ game.developer }}' name="developer" id="developer">
        </div>

        <div class="form-group col">
            <label for="publisher">Publisher: </label>
            <input type="text" class="form-control mb-4" value='{{ game.publisher }}' name="publisher" id="publisher">
        </div>
    </div>


    <div class="row"row>
        <div class="form-group col">
            <label for="hours">Hours Played: </label>
            <input type="number" class="form-control mb-4" value='{{ game.play_hours }}' name="hours" id="hours" min="0">
        </div>
    
    
    
        <div class="form-group col">
            <label for="score">Score (out of 10): </label>
            <input type="number" class="form-control mb-4" step="0.5" value='{{ game.score}}' name="score" id="score" min="0" max="10">
        </div>
    </div>
    
    <div class="form-group form-check-inline">
        <label for="own">Own:</label>
        <select name="own" id="own-edit" class="mb-4 mt-3">
            {% if game.own %}
            <option value="Yes" selected>Yes</option>
            <option value="No">No</option>
            {% else %}
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group form-check-inline">
        <label for="beat">Beat:</label>
        <select name="beat" id="beat-edit" class="mb-4 mt-3">
            {% if game.beat %}
            <option value="Yes" selected>Yes</option>
            <option value="No">No</option>
            {% else %}
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
            {% endif %}
        </select>
    </div>


    <div class="form-group">
        <label for="review">Review: </label>
        <textarea name="review" class="form-control mb-4" id="review">{{ game.review }}</textarea>
    </div>


    <input type="submit" value="Update" id="edit-sumbit">
</form>
{% endblock %}