{% extends "base.html" %}
{% block title %}{{ game.title }}{% endblock %}
{% block content %}
<div id="bulk_detail">
<h1 align="center">{{ game.title }}</h1>
<table id="detail_games_table" class="table table-success table-bordered table-sm" align="center">
    <thead>
        <tr>
            <th>Release Year</th>
            <th>Platform</th>
            <th>Developer</th>
            <th>Publisher</th>
            <th>Hours Played</th>
            <th>Score</th>
            <th>Own</th>
            <th>Beat</th>
            <th>Review</th>
    </thead>
    <tbody>
        <tr> 
            <td>{{ game.year }}</td>
            <td>{{ game.platform }}</td>
            <td>{{ game.developer }}</td>
            <td>{{ game.publisher }}</td>
            <td>{{ game.play_hours }}</td>
            {% if game.score != "" %}
            <td>{{ game.score }}/10</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if game.own %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            {% if game.beat %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>{{ game.review }}</td>
        </tr>
    </tbody>
</table>
<button id="delete-button" onclick="deleteGame('{{ game.id }}', '{{ url_for(request.endpoint, **request.view_args) }}')">
    <i class="bi bi-trash"></i>
</button>
<form method="post" action="{{ url_for('views.view_edit', title=game.title ) }}" class="inline">
    <input type="hidden" name="id" value='{{ game.id }}'>
    <button id="edit-button" type="submit" value="submit_value"><i class="bi bi-pencil"></i></button>
</form>
</div>
{% endblock %}