{% extends "base.html" %}
{% block title %}{{ game.title }}{% endblock %}
{% block content %}
<div id="bulk_detail">
<h1 align="center">{{ game.title }}</h1>
<table id="detail_games_table" class="table table-success table-bordered table-sm" align="center">
    <thead>
        <tr>
            <th>Release Year</th>
            <th>Platform</th>
            <th>Developer</th>
            <th>Publisher</th>
            <th>Hours Played</th>
            <th>Score</th>
            <th>Own</th>
            <th>Beaten</th>
            <th>Review</th>
    </thead>
    <tbody>
        <tr> 
            <td>{{ game.year }}</td>
            <td>{{ game.platform }}</td>
            <td>{{ game.developer }}</td>
            <td>{{ game.publisher }}</td>
            <td>{{ game.play_hours }}</td>
            <td>{{ game.score }}/10</td>
            <td>{{ game.own }}</td>
            <td>{{ game.beat }}</td>
            <td>{{ game.review }}</td>
        </tr>
    </tbody>
</table>
<button id="delete-button" onclick="deleteGame('{{ game.id }}', '{{ url_for(request.endpoint, **request.view_args) }}')">
    <i class="bi bi-trash"></i></button>
</div>
{% endblock %}