#main-body {
  background-color: lightsalmon;
}

.page-title, label {
  font-weight: bold;
  color: #C1D6CC;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.inline {
  display: inline;
}
  
.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: inherit;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}

.link-button:active {
  color:red;
}

td, thead {
  text-align: center;
  vertical-align: middle;
}

#my_games_table {
  width: 70%;
}

.autocomplete-suggestions { 
  border: 1px solid #999; 
  background: #FFF; 
  overflow: auto; 
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.grid-item1 { 
  grid-area: head; 
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.grid-item2 { 
  grid-area: col1;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.grid-item3 { 
  grid-area: col2;
  margin-right: auto;
  padding: 20px;
}

.grid-item4 { 
  grid-area: img; 
  text-align: left;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1.3fr;
  grid-template-areas: 
  'head head head'
  'img col1 col2'
  'img col1 col2'
  'img col1 col2';
  margin-top: 30px;
}

.grid-container > div {
  font-size: 20px;
}

h1 {
  font-weight: bold;
}

.review-text {
  font-size: 15px;
  background-color: rgb(245, 183, 159);
  padding: 8px;
}

.edit-help {
  padding-left: 30px;
  padding-bottom: 10px;
}

.delete-help {
  padding-left: 30px;
}

.help-icons-email {
  flex: 1;
}

.email-help {
  text-align: right;
}

.help-div {
  display: flex;
}

.help-page {
  font-size: 20px;
}

#game-coll {
  font-size: 70px;
}

.submit-login {
  text-align: center;
}

.entice {
  padding-top: 70px;
  text-align: center;
}